.top-banner {
  color: var(--text_med);
}
 
.heading {
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 0.02em;
  padding: 0 0 30px 0;
  color: var(--text_light);
}
 
.search-submit {
  position: relative;
  display: flex;
  align-items: center;
    input {
        font-size: 2rem;
        // height: 40px;
        padding: 5px 5px 10px;
        color: var(--text_light);
        // border-bottom: 2px solid var(--text_dark);
        background:rgba(255, 255, 255, 0.068);
        border: 2px solid var(--primary);
    }
     button {
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 0.1em;
        padding: 15px 20px;
        margin-left: 15px;
        border-radius: 5px;
        background: var(--primary);
        transition: background 0.3s ease-in-out;
        border: 2px solid var(--secondary)
    }
}
h3{
  margin-top: 0;
  color: var(--text_light);
}
 

 
.search-submit input::placeholder {
  color: grey; 
}
 
 
.search-submit button:hover {
  background: var(--secondary);
}
 
.search-submit .msg {
  position: absolute;
  bottom: -40px;
  left: 0;
  max-width: 450px;
  min-height: 40px;
}
 
@media screen and (max-width: 700px) {
  .search-submit {
    flex-direction: column;
  }
   
  .search-submit input,
  .search-submit button {
    width: 100%;
  }
 
  .search-submit button {
    margin: 20px 0 0 0;
  }
   
  .search-submit .msg {
    position: static;
    max-width: none;
    min-height: 0;
    margin-top: 10px;
  }
}