//    font-family: 'Heebo', sans-serif;

//    font-family: 'Press Start 2P', cursive;

html{
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
}

h2{
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
}